html {
    background-color: grey;
    font-size: 1em;
}

body {
    width: 85%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
}

/*Navbar*/
nav.Navbar {
    background-color: darkgrey;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-decoration: none;
}

nav ul {
    display: flow-root;
    padding: 0px;
    margin: 0px;
}

.Navbar li {
    float: left;
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 25%;
    font-size: 20px;
}

.Navbar li:hover {
    background-color: purple;
}


/* Links */
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}


/* H1 titles */
h1 {
    color: purple;
    text-align: center;
}

/* H2 titles */
h2 {
    color: black;
}
/* Images */
img {
    display: block;
    float: left;
    padding: 0em 0em 1em 1em;
}


.resume-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

/* text */
article.content {
    display: block;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 1em 1em;
}

.flex-container2 > h2{
    color: purple;
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: column;
}

.flex-container2 > h3{
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: column;
}

.flex-container2 > p {
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: column;
}

.flex-container2 > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}



